.chat {
  height: 900px;
  width: 100%; /* Increased width for smaller screens */

  display: flex;
  align-items: center;
  justify-content: right;
  /* max-width: 30%; */
  align-items: center;
  border: 2px solid white;
  /* border: 2px solid rgb(28, 27, 27); */
  background-image: url("../images/chat.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12%;
  -webkit-box-shadow: 0px -1px 69px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 69px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 69px -10px rgba(0, 0, 0, 0.75);
}
.n {
  height: 50px;
  width: 30%;
  text-align: left;
  padding: 10px;
  /* border: 2px solid black; */
  background-image: url("../images/ig1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .chat {
    height: 950px;
    width: 100%;
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 3% auto;
    /* border: 2px solid rgb(28, 27, 27); */
    background-image: url("../images/chat.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12%;
    backdrop-filter: blur(20px);
    box-shadow: 10px 9px 98px -13px rgba(0, 0, 0, 1);
  }
}
